@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

body {
    padding: 1rem;
    background-image: url('../public/wallpaper/ps.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    /* padding: 0; */
    font-family: sans-serif;
}